[MASTER]
ignore=_version.py
load-plugins=pylint.extensions.docparams

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0209, # consider-using-f-string
    R0205, # useless-object-inheritance
    R0402, # consider-using-from-import
    R0801, # duplicate-code
    R0902, # too-many-instance-attributes
    R0912, # too-many-branches
    R0913, # too-many-arguments
    R0914, # too-many-locals
    R1732, # consider-using-with
    W0221, # arguments-differ (due to https://github.com/PyCQA/pylint/issues/1482, fixed in pylint>=2.5.0)
    W0402, # deprecated-module
