{% extends "base.j2" %}
{% set active_page = "configuration" %}

{% block title %} - Configuration{% endblock %}

{% block content %}
  <div class="container">
    <h1>Configuration</h1>
  </div>
  <div class="container">
    <table class="table table-striped">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      {% for (key, value) in settings %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
