{% extends "base.j2" %}
{% set active_page = "control" %}

{% block title %} - Control{% endblock %}

{% block content %}
  <div class="container">
    <h1>Control</h1>
    <div class="panel panel-default">
      <div class="panel-heading">Command</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <div id="comms-on-off">
                  <div class="inline-label-bold">Comms TX status:</div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn label-success" name="comms-tx-on" id="comms-tx-on">ON</button>
                    <button type="button" class="btn label-danger" name="comms-tx-off" id="comms-tx-off">OFF</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <div class="dropdown" id="command-dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="command-btn" data-toggle="dropdown">ECSS Commands
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" href="#">Test Service</a></li>
                    <li role="presentation"><a role="menuitem" href="#">Custom packet</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row" id="service-params" style="display: none;">
              <div class="col-xs-12 col-md-12">
                  <div class="row">
                    <div class="col-xs-3 col-md-3">
                      <div class="radio" id="power-radio">
                        <label><input type="radio" name="power-radio" id="power-radio-input">Power Control</label>
                      </div>
                      <div class="radio" id="time-radio">
                        <label><input type="radio" name="time-radio">Time Control</label>
                      </div>
                    </div>
                  </div>
                  <div class="row" id="subservice-params-power" style="display: none;">
                    <div class="col-xs-9 col-md-9">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Power" aria-describedby="basic-addon2">
                      </div>
                    </div>
                  </div>
                  <div class="row" id="subservice-params-time" style="display: none;">
                    <div class="col-xs-9 col-md-9">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Time" aria-describedby="basic-addon2">
                      </div>
                    </div>
                  </div>
                  <div class="row" id="subservice-params-custom" style="display: none;">
                    <div class="col-xs-11 col-md-11">
                      <div class="input-group">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li role="presentation"><a role="menuitem" href="#">OBC</a></li>
                          <li role="presentation"><a role="menuitem" href="#">EPS</a></li>
                          <li role="presentation"><a role="menuitem" href="#">ADCS</a></li>
                          <li role="presentation"><a role="menuitem" href="#">COMMS</a></li>
                          <li role="presentation"><a role="menuitem" href="#">GND</a></li>
                          <li role="presentation"><a role="menuitem" href="#">UMB</a></li>
                        </ul>
                        <input type="text" class="form-control" placeholder="Custom" aria-describedby="basic-addon2">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <button type="submit" class="btn btn-primary" id="send-cmd">Submit</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-primary" id="response-panel">
              <div class="panel-heading">Terminal</div>
              <div class="panel-body" id="response-panel-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/satnogs-control.js') }}"></script>
{% endblock %}
