{% extends "base.j2" %}
{% set active_page = "satnogs_control" %}

{% block title %} - SatNOGS C&amp;C{% endblock %}

{% block content %}
  <div class="container">
    <h1>SatNOGS C&amp;C</h1>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
